# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual env
venv/
env/
.venv/

# AI Models
*.pt
*.pth
*.h5
*.onnx
*.pb
*.ckpt

# Dataset
data/
dataset/
datasets/

# Cache
.cache/
.pytest_cache/

# Logs
*.log
*.txt
# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db